<a href="https://colab.research.google.com/github/edwardoughton/spatial_computing/blob/main/2_03_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Data structures**

Here we will explore various data structures commonly used in computing programming, with reference to spatial computing in Python.

## **Data Structures - Lists**

One of the most commonly used data structures is a list, denoted by using square brackets, e.g., `[]`. A list can contain a wide range of elements, whether ints, floats, strings, or other data structures such as lists.  

Lists are ordered, thus they retain the sequence in which their consituent elements were placed.

Moreover, lists ae mutable, which basically means we are able to change them as we desire, e.g., using a range of in-built python functions for manipulation, including `append()`, `extend()`, `insert()`, `remove()`, `sort()`, `reverse()`, and `sorted()`.

In [ ]:
# Example: A list
my_list = [1,2,3,4]
my_list

[1, 2, 3, 4]

We can access an element of a list by indexing, using square index brackets e.g., `mylist[0]`.

Via a positional number, we are asking Python to return the element at a certain position in the list structure.

Note: Python is zero indexed, thus the first element is at position zero.

In [ ]:
# Example: Getting an element from a list
my_list = [1,2,3,4]
print("The first element in my list is {}.".format(my_list[0]))
print("The second element in my list is {}.".format(my_list[1]))
print("The third element in my list is {}.".format(my_list[2]))
print("The forth element in my list is {}.".format(my_list[3]))

The first element in my list is 1.
The second element in my list is 2.
The third element in my list is 3.
The forth element in my list is 4.

We can also modify an element of our list.

For example, let us suppose we want to replace a certain element. We just need to specify the list name, followed by square index brackets and the positional index number. Then we can allocate a replacement value, as demonstrated in the code below:

In [ ]:
# Example: Modifying an element of a list
my_list = [1,2,3,4]
my_list[1] = 'NA'
my_list[3] = 4.5
my_list

[1, 'NA', 3, 4.5]

Finally, we can easily add elements to our list.

For example, by using the `append()` function, which adds any new elements to the end of the existing list.

In [ ]:
# Example: Modifying an element of a list
my_list = [1,2,3,4]
my_list.append(5)
my_list.append(6)
my_list

[1, 2, 3, 4, 5, 6]

To remove an item from a list, we can use the in-built `.remove()` function.

In [ ]:
# Example: Remove an item from a list
my_list = [1,2,3,4]
my_list.remove(1)
my_list

[2, 3, 4]

Also, we are easily able to count the number of elements in our list (the length), via the built-in `len()` function.

In [ ]:
# Example: Find the length of a list
my_list = [1,2,3,4]
print(len(my_list))

4

Moreover, to check if a list contains a specific element, we can use an `if` function.

In [ ]:
# Example: Find the length of a list
my_list = [1,2,3,4]
if 1 in my_list:
  print('yes')

yes

**Task**
* Create a list of your four favorite shops (for use in a spatial route optimization problem) and print the list.
* Print the first shop name in your list.
* You need to visit a new location. Add to the list the name of this new shop.
* To optimize the number of stops, you decide to collect some basic items from an existing shop. Thus, remove one shop name from the list.
* For your list of shops, print the length.
* What if you are not sure if you have a shop in your list? Can you write some logic to check, and print the shop name if present?

In [ ]:
# Enter your attempt here

## **Data Structures - Tuples**

Like lists, tuples are also ordered (so if you call a tuple from memory, it will be presented in the order in which you specified the original data structure).

We can create a tuple by using normal parentheses, e.g., `()`.

However, tuples contrast with lists in that they are immutable. Thus, once you create the elements of these data structures, they cannot be further changed.

In [ ]:
# Example: A tuple
my_tuple = (1,2,3,4)
my_tuple

(1, 2, 3, 4)

We are able to print a particular element of a tuple, using square bracket indexing.

In [ ]:
# Example: Accessing a tuple element
my_tuple = (1,2,3,4)
print(my_tuple[0])

1

We are not able to replace elements, once specified.

In [ ]:
# Example: Tuples are immutable
my_tuple = (1,2,3,4)
my_tuple[2] = 'replacement_element'
my_tuple    #   Will thrown an error

TypeError: 'tuple' object does not support item assignment

Therefore, if you need to replace a tuple element, you have to respecify the whole data structure.

In [ ]:
# Example: Respecifying a tuple to replace an element
my_tuple = (1,2,3,4)
print(my_tuple)
my_tuple2 = (my_tuple[0], my_tuple[1], 'replacement_element', my_tuple[3])
print(my_tuple2)

(1, 2, 3, 4)
(1, 2, 'replacement_element', 4)

Within spatial computing, it is common for us to store our coordinates in tuples, like so:

In [ ]:
# Example: Storing coordinates within a tuple
coordinates = (1.234, 2.765)
print(coordinates)

x, y = coordinates
print("x: {}, y: {}".format(x, y))  # Output: x: 3, y: 4

(1.234, 2.765)
x: 1.234, y: 2.765

**Task**
* Create a tuple containing your four favorite shops (for use in a spatial route optimization problem) and print the tuple.
* Print the first and last elements in your tuple.
* Attempt to replace the second element of your tuple with another shop name. Reflect on why you received the error.
* Convert your first tuple, into a second tuple, but replace one of the shop names.

In [ ]:
# Enter your attempt here

## **Data Structures - Dictionaries**

One of the most powerful and flexible data structures in computing programming is the dictionary, denoted via curly brackets, e.g., `{}`.

The structure of a dictionary focuses on key-value pairs, which allows you to later obtain information values by passing an explicit key.

Unlike lists and tuples, dictionaries are unordered (as their purpose is to allow key-value operations).

Keys can be strings, ints or floats.

In [ ]:
# Example: Specifying a dictionary
my_dict = {
  "var1": 1,
  "var2": 2,
  3: 3,
  4.5: 4
}
my_dict

{'var1': 1, 'var2': 2, 3: 3, 4.5: 4}

And values can also be pretty much anything you desired, from strings, ints or floats, to lists, tuples, dicts or another multi-dimensional structure (e.g., a list of dicts).

In [ ]:
# Example: Specifying a dictionary
my_dict = {
  "var1": [1,2,3],
  "var2": (1,2,3),
  3: {
      'var1': 1,
      'var2': 2
  }
}
my_dict

To access a value in a dict, we can use square index brackets.

In [ ]:
# Example: Accessing dictionary values
my_dict = {
  "var1": 1,
  "var2": 2,
}
my_dict['var2']

2

Dictionaries are mutable, and therefore we can easily add new key-value pairs.

In [ ]:
# Example: Adding dictionary values
my_dict = {
  "var1": 1,
  "var2": 2,
}
my_dict['var3'] = 3
print(my_dict)

{'var1': 1, 'var2': 2, 'var3': 3}

We can also modify a key's value.

In [ ]:
# Example: Modifying dictionary values
my_dict = {
  "var1": 1,
  "var2": 2,
}
my_dict['var2'] = 'replacement_element'
print(my_dict)

{'var1': 1, 'var2': 'replacement_element'}

**Task**
* Create a dictionary for your favorite Point of Interest (PoI) (for use in a spatial route optimization problem) and print the dictionary. Include a key for the name, city/county, and a tuple of coordinates.
* Print the name and coordinates from your PoI dictionary.
* Add a new key-value pair to your dictionary for your time spent at the location (e.g., "time_spent").
* Remove the tuple of coordinates from your dictionary.

In [ ]:
# Enter your attempt here

## **Data Structures - Sets**

A set provides you with the number of unique elements. A set has no inherent order.

We denote a set using the curly brackets (but they differ from dictionaries because they are not based on key-value pairs).

In [ ]:
# Example: Creating a set
my_set = {1,2,3,4}
print(my_set)

{1, 2, 3, 4}

You can also convert an existing list into a set.

In [ ]:
# Example: Converting a list into a set
my_list = [1,1,2,2,3,3,4,4,5,5]
print(set(my_list))

{1, 2, 3, 4, 5}

We can add to a set using the `add()` function.

In [ ]:
# Example: Creating a set
my_set = {1,2,3,4}
print("The length of my set is: {}".format(len(my_set)))
my_set.add('abc')
print("The length of my set is: {}".format(len(my_set)))
my_set

The length of my set is: 4
The length of my set is: 5

{1, 2, 3, 4, 'abc'}

Remember, as a set contains unique elements, if you add a new element which already matches an existing, the length of the set will stay the same.

In [ ]:
#Example: Sets are unique collections of elements
my_set = {1,2,3,4}
print("The length of my set is: {}".format(len(my_set)))
my_set.add('abc')
print("The length of my set is: {}".format(len(my_set)))
my_set.add(1)
print("The length of my set is: {}".format(len(my_set)))
my_set

The length of my set is: 4
The length of my set is: 5
The length of my set is: 5

{1, 2, 3, 4, 'abc'}

Sometimes, we may need to remove elements from a set, via the `.remove()` function.

In [ ]:
#Example: Removing elements from a sets
my_set = {1,2,3,4}
print("The length of my set is: {}".format(len(my_set)))
my_set.remove(4)
print("The length of my set is: {}".format(len(my_set)))
print(my_set)

The length of my set is: 4
The length of my set is: 3
{1, 2, 3}

**Task**
* Create a list sequence containing the 14 days of the week, for the January 1st to January 14th period. Now convert this list to a set. Reflect on the changes that took place.
* Remove from your set any weekend days.
* Now add back to your set the day of Saturday.
* Find the length of your final set.

In [ ]:
# Enter your attempt here

## **Data Structures - Strings**

While we have already covered strings when exploring data types, they are also a data structure (e.g., character sequences).

In [ ]:
#Example: We can swap the case of a string
my_string = "I am a string."
print(my_string.lower())
print(my_string.upper())

i am a string.
I AM A STRING.

We can also replace parts of a string, which is very useful, via the `.replace()` function.

In [ ]:
#Example: We can swap the case of a string
my_string = "I am a string."
print(my_string.replace("string", "machine")) # Swapping "string" for "machine"
print(my_string.replace(" ", "")) # Stripping all whitespace
print(my_string.replace(" ", "_")) # Swapping whitespace for underscores

I am a machine.
Iamastring.
I_am_a_string.

**Task**
* Create a string for the name of your favorite shop in sentence case.
* Convert your string to all lower case.
* Convert your string to all upper case.
* Replace all of the vowels in your favorite shop name with hyphens.

In [ ]:
# Enter your attempt here

## **Multi-dimensional data structures**

An important concept to understand is that we are able to nest our data structures within each other.

The most important data structures for you to understand will be the use of lists of lists, lists of tuples and lists of dictionaries, as we will explore here.

## **Multi-dimensional data structures - Lists of lists**

We can create complex data structures by nesting one structure (e.g., a list), within another list.

To do this, we just have to follow the same rules in the meta-list, as we would when entering elements into a normal list.

For example, each list element needs to be separated by a comma.

In [ ]:
# Example: A list of lists
my_list_of_lists = [
    [1,2,3,4],
    [1,2,3,4],
    [1,2,3,4]
]
my_list_of_lists

## **Multi-dimensional data structures - Lists of tuples**

We can also do the same for lists of tuples, we just have to separate each tuple by a comma.

In [ ]:
# Example: A list of tuples
my_list_of_tuples = [
    (1,2,3,4),
    (1,2,3,4),
    (1,2,3,4)
]
my_list_of_tuples

[(1, 2, 3, 4), (1, 2, 3, 4), (1, 2, 3, 4)]

## **Multi-dimensional data structures - Lists of dictionaries**

Finally, we can next explore dictionaries within lists, thus forming a list of dictionaries. We again just have to separate each dict by a comma.

In [ ]:
# Example: A list of dictionaries
my_list_of_dicts = [
  {"var1": 1, "var2": 2, "var3": 3, "var4": 4},
  {"var1": 1, "var2": 2, "var3": 3, "var4": 4},
  {"var1": 1, "var2": 2, "var3": 3, "var4": 4},
]
my_list_of_dicts

[{'var1': 1, 'var2': 2, 'var3': 3, 'var4': 4},
 {'var1': 1, 'var2': 2, 'var3': 3, 'var4': 4},
 {'var1': 1, 'var2': 2, 'var3': 3, 'var4': 4}]

**Task**

Each of these multi-dimensional data structures behaves and follows the same rules as the meta-structure.

For example, lists are ordered and mutable, meaning if we want to access the first list in a list of dicts, we can index using the method covered earlier in the first exercise.

* Create a list of list. You can reuse the list you created earlier with your preferred shop names. Print the first list in the list of lists. Print the second element.
* Create a list of tuples. Make each tuple a set of coordinates. Extract the second tuple in the list of tuples. Then print both the x and y coordinates from the extracted tuple.
* Create a list of dicts. Reuse the dictionary you created earlier for your PoI, but expand this to 3 PoIs. Access the last dict in your list, and then print each one of the values in the dict.